.section-prices-container {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  border-radius: var(--border-radius);
}

.section-prices-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-prices-title {
  color: var(--color-text-base);
  font-size: var(--default-header-size);
  margin-bottom: calc(var(--default-gap) / 2);
}

.section-prices-subtitle {
  color: var(--color-text-subdue);
  font-size: var(--default-text-size);
}

.cryptocurrency-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
  gap: var(--default-gap);
}

.cryptocurrency-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  background-color: var(--color-background);
  border: 1px solid var(--color-widget-border);
  border-radius: var(--border-radius);

  padding: calc(var(--default-pady) / 2) calc(var(--default-padx) / 2);
}

.cryptocurrency-card-head,
.cryptocurrency-card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--default-gap);
}

.cryptocurrency-icon {
  height: 14px;
  width: 14px;
}

.cryptocurrency-icon img {
  height: 100%;
  width: 100%;
}

.cryptocurrency-name {
  color: var(--color-text-subdue);
  font-size: var(--default-text-size);
}

.cryptocurrency-abbreviation {
  color: var(--color-text-subdue);
  font-size: var(--default-text-size);
}

.cryptocurrency-price {
  color: var(--color-text-subdue);
  font-size: var(--default-text-size);
}

.cryptocurrency-price-change-rate {
  font-size: var(--default-text-size);
}

.last-update-time {
  color: var(--color-text-subdue);
  font-size: var(--default-text-size);
  display: flex;
  align-items: center;
  gap: var(--default-gap);
}

.last-update-time-icon {
  width: 16px;
  height: 16px;
  color: var(--color-text-subdue);

  cursor: pointer;
  transition: color .3s ease;
}

.last-update-time-icon:hover {
  color: var(--color-primary);
}