/* Pre configured and default styles */

@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: url('../fonts/IBMPlexMono-Regular.woff2') format('woff2');
}

:root {
  color: var(--color-text-base);
  font-family: 'IBMPlexMono-Regular', sans-serif;

  --color-background: rgb(21, 21, 25);
  --color-widget-background: rgb(23, 23, 28);
  --color-widget-border: rgb(30, 30, 36);

  /* Text Colors */
  --color-primary: rgb(217, 195, 140);
  --color-positive: rgb(64,176, 133);
  --color-negative: rgb(232, 125, 125);
  --color-text-base: rgb(139, 139, 156);
  --color-text-highlight: rgb(214, 214, 220);
  --color-text-subdue: rgb(82, 82, 96);

  /* Units */
  --border-radius: 8px;

  --default-pady: 16px;
  --default-padx: 16px;

  --default-my: 24px;
  --default-mx: 8px;

  --default-gap: 8px;

  --default-text-size: 14px;
  --default-heading-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

body {
  background-color: var(--color-background);

  padding-top: var(--default-pady);
  padding-left: var(--default-padx);
  padding-right: var(--default-padx);
}

.container {
  background-color: var(--color-widget-background);
  border: 1px solid var(--color-widget-border);
  border-radius: var(--border-radius);

  padding: var(--default-pady) var(--default-padx);
}

main {
  margin-top: calc(var(--default-mx) + var(--default-mx));

  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--default-gap) * 4);
}